/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');


body {
  background-color:rgba(146, 214, 209, 0.874);
}


 h1 {
  display: flex;
  justify-content: center;
  font-family: 'Gloock', serif;
}

 p {
 padding-left: 655px;

}

ul {
 padding-left: 670px;

}

a {
  text-decoration: none;
  color: rgb(65, 61, 61);
  font-family: 'Gloock', serif;
}
